#main{
	margin: 10% 10%;
}

#leftPanel{
	padding: 20px;
}

#profileContent{
	margin: 10px;
}

#filter{
	margin-left: 20px;
	margin-bottom: 5px;
}

#homeContent{
	margin: 10px;
}

#employeeTable{
	margin: 5px;
}

.tableHeader{
	
	font-weight: bolder;
	font-size: 12pt;
	margin: 0px;
}

.employeeRow{
	margin: 0px;
}

.tableHeaderCol {
	background-color: #CECECE;
}

.employeeCommentsCol{
	display: none;
	background-color: #D8DFFF;
}

#rightPanel{
	margin: 20px 10px 10px 10px;
}

#addNew{
	margin-top: 10px;
	margin-bottom: 10px;
}
