<div class="row">
      
      <div class="col-md-7">
        <div id="tagField"></div>
        <!-- <div my-tagsinput-directive staff="employees"></div> -->
        <input type="text" name="employeeTags" ng-model="selected" typeahead="employee.name for employee in employees | filter: $viewValue | limitTo:8" class="form-control tm-input inputTagRow" typeahead-on-select='onSelect($item, $model, $label)'>    
      </div>
      
      <div class="col-md-2">
        <button type="button" id="refreshButton" class="btn btn-default disabled" ng-click="refresh()">Refresh</button>
      </div>

    </div>